In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
#Dosya yolunu ekleyip csv olarak pandas kütüphanesi ile okudum. Tek sütun olarak geldi veri
#Veriyi incelediğimde sütun isimlerinin ";" işareti ile ayrıldığını gördüm ve "sep= ";" konmutu ile sütunları düzenledim
df = pd.read_csv("D:\ISTDSA_Proje\Solana_01.01.2018-31.10.2024_historical_data_coinmarketcap.csv", sep=";")
df

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2024-10-31T00:00:00.000Z,2024-10-31T23:59:59.999Z,2024-10-31T02:38:00.000Z,2024-10-31T22:27:00.000Z,2781,174.925083,176.279850,167.576789,168.429995,2.652620e+09,7.922686e+10,2024-10-31T23:59:59.999Z
1,2024-10-30T00:00:00.000Z,2024-10-30T23:59:59.999Z,2024-10-30T05:14:00.000Z,2024-10-30T20:13:00.000Z,2781,179.360748,181.152667,173.399395,174.924978,2.772423e+09,8.228014e+10,2024-10-30T23:59:59.999Z
2,2024-10-29T00:00:00.000Z,2024-10-29T23:59:59.999Z,2024-10-29T16:55:00.000Z,2024-10-29T20:27:00.000Z,2781,178.103638,183.039438,176.855477,179.360748,3.919546e+09,8.434638e+10,2024-10-29T23:59:59.999Z
3,2024-10-28T00:00:00.000Z,2024-10-28T23:59:59.999Z,2024-10-28T22:28:00.000Z,2024-10-28T17:08:00.000Z,2781,176.553678,179.407979,172.872249,178.104910,3.623056e+09,8.375856e+10,2024-10-28T23:59:59.999Z
4,2024-10-27T00:00:00.000Z,2024-10-27T23:59:59.999Z,2024-10-27T23:04:00.000Z,2024-10-27T00:19:00.000Z,2781,170.705957,177.895150,170.192449,176.549190,2.427933e+09,8.301087e+10,2024-10-27T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...,...
395,2023-10-02T00:00:00.000Z,2023-10-02T23:59:59.999Z,2023-10-02T06:40:00.000Z,2023-10-02T22:11:00.000Z,2781,23.837955,24.603424,22.976022,23.371701,6.580840e+08,9.655254e+09,2023-10-02T23:59:59.999Z
396,2023-10-01T00:00:00.000Z,2023-10-01T23:59:59.999Z,2023-10-01T23:04:00.000Z,2023-10-01T03:26:00.000Z,2781,21.392059,24.396019,21.170072,23.836486,6.371231e+08,9.844132e+09,2023-10-01T23:59:59.999Z
397,2023-09-30T00:00:00.000Z,2023-09-30T23:59:59.999Z,2023-09-30T16:11:00.000Z,2023-09-30T05:40:00.000Z,2781,20.299589,21.729971,20.124679,21.395147,3.289880e+08,8.835649e+09,2023-09-30T23:59:59.999Z
398,2023-09-29T00:00:00.000Z,2023-09-29T23:59:59.999Z,2023-09-29T14:50:00.000Z,2023-09-29T00:49:00.000Z,2781,19.959581,20.415977,19.875161,20.300655,2.195711e+08,8.380990e+09,2023-09-29T23:59:59.999Z
399,2023-09-28T00:00:00.000Z,2023-09-28T23:59:59.999Z,2023-09-28T23:18:00.000Z,2023-09-28T00:08:00.000Z,2781,19.129475,19.960865,19.110308,19.957617,2.259549e+08,8.239388e+09,2023-09-28T23:59:59.999Z

In [47]:
#Sütun isimleri büyük küçük harf olarak karışık verilmiş ileride sorun yaşamamak için sütun isimlerini düzenliyorum
df.columns = df.columns.str.lower()
df.columns = df.columns.str.strip()
df

,timeopen,timeclose,timehigh,timelow,name,open,high,low,close,volume,marketcap,timestamp
0,2024-10-31T00:00:00.000Z,2024-10-31T23:59:59.999Z,2024-10-31T02:38:00.000Z,2024-10-31T22:27:00.000Z,2781,174.925083,176.279850,167.576789,168.429995,2.652620e+09,7.922686e+10,2024-10-31T23:59:59.999Z
1,2024-10-30T00:00:00.000Z,2024-10-30T23:59:59.999Z,2024-10-30T05:14:00.000Z,2024-10-30T20:13:00.000Z,2781,179.360748,181.152667,173.399395,174.924978,2.772423e+09,8.228014e+10,2024-10-30T23:59:59.999Z
2,2024-10-29T00:00:00.000Z,2024-10-29T23:59:59.999Z,2024-10-29T16:55:00.000Z,2024-10-29T20:27:00.000Z,2781,178.103638,183.039438,176.855477,179.360748,3.919546e+09,8.434638e+10,2024-10-29T23:59:59.999Z
3,2024-10-28T00:00:00.000Z,2024-10-28T23:59:59.999Z,2024-10-28T22:28:00.000Z,2024-10-28T17:08:00.000Z,2781,176.553678,179.407979,172.872249,178.104910,3.623056e+09,8.375856e+10,2024-10-28T23:59:59.999Z
4,2024-10-27T00:00:00.000Z,2024-10-27T23:59:59.999Z,2024-10-27T23:04:00.000Z,2024-10-27T00:19:00.000Z,2781,170.705957,177.895150,170.192449,176.549190,2.427933e+09,8.301087e+10,2024-10-27T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...,...
395,2023-10-02T00:00:00.000Z,2023-10-02T23:59:59.999Z,2023-10-02T06:40:00.000Z,2023-10-02T22:11:00.000Z,2781,23.837955,24.603424,22.976022,23.371701,6.580840e+08,9.655254e+09,2023-10-02T23:59:59.999Z
396,2023-10-01T00:00:00.000Z,2023-10-01T23:59:59.999Z,2023-10-01T23:04:00.000Z,2023-10-01T03:26:00.000Z,2781,21.392059,24.396019,21.170072,23.836486,6.371231e+08,9.844132e+09,2023-10-01T23:59:59.999Z
397,2023-09-30T00:00:00.000Z,2023-09-30T23:59:59.999Z,2023-09-30T16:11:00.000Z,2023-09-30T05:40:00.000Z,2781,20.299589,21.729971,20.124679,21.395147,3.289880e+08,8.835649e+09,2023-09-30T23:59:59.999Z
398,2023-09-29T00:00:00.000Z,2023-09-29T23:59:59.999Z,2023-09-29T14:50:00.000Z,2023-09-29T00:49:00.000Z,2781,19.959581,20.415977,19.875161,20.300655,2.195711e+08,8.380990e+09,2023-09-29T23:59:59.999Z
399,2023-09-28T00:00:00.000Z,2023-09-28T23:59:59.999Z,2023-09-28T23:18:00.000Z,2023-09-28T00:08:00.000Z,2781,19.129475,19.960865,19.110308,19.957617,2.259549e+08,8.239388e+09,2023-09-28T23:59:59.999Z

In [ ]:
#sütunların typye larını inceleyelim
df.dtypes
#time kolonları obj larak gelmiş düzeltilmesi gerekir

df['timeopen'] = pd.to_datetime(df['timeopen']).dt.tz_localize(None).dt.floor('s')
df['timeclose'] = pd.to_datetime(df['timeclose']).dt.tz_localize(None).dt.floor('s')
df['timehigh'] = pd.to_datetime(df['timehigh']).dt.tz_localize(None)
df['timelow'] = pd.to_datetime(df['timelow']).dt.tz_localize(None)
df

#timestamp kolonunda verinin alındığı zamanlar yazılıyor işimize yaramaz silebiliriz
df.drop('timestamp', axis=1 , inplace=True)

KeyError: "['timestamp'] not found in axis"

In [69]:
#name kolonu her index için aynı bu yüzden çıkarabiliriz
df.drop('name', axis=1, inplace=True)

In [ ]:
# 3 farklı coini aynı dataframede birleştireceğimiz için timehigh ve timelow sütunlarımız işimize yaramayacak bu sebeple o sütunları da siliyoruz
df.drop('timehigh', axis=1, inplace=True)
df.drop('timelow', axis=1, inplace=True)

In [85]:
#marketcap değeri (fiyat*dolaşımdaki arz) fiyat analizinde karşılaştırma yaparken işimize yaramadığı için o sütunu da siliyoruz
df.drop('marketcap', axis=1, inplace=True)

In [104]:
#3 farklı dataframe'i birleştireceğimiz için timeopen ve timeclose sütunlarını sabit olarak alacağız bu sebeple diğer sütunların isimlerini değiştirdik
df.rename(columns={'open':'sol_open', 'high':'sol_high', 'low':'sol_low','close':'sol_close','volume':'sol_vol'} , inplace=True)
df_sol=df
df_sol

,timeopen,timeclose,sol_open,sol_high,sol_low,sol_close,sol_vol
0,2024-10-31,2024-10-31 23:59:59,2657.213210,2667.559482,2501.572346,2515.799222,1.976041e+10
1,2024-10-30,2024-10-30 23:59:59,2637.640108,2720.271436,2600.609657,2657.372557,2.238269e+10
2,2024-10-29,2024-10-29 23:59:59,2565.417849,2680.054530,2560.153826,2637.957581,2.218585e+10
3,2024-10-28,2024-10-28 23:59:59,2505.590509,2587.430142,2470.268340,2565.348033,1.897184e+10
4,2024-10-27,2024-10-27 23:59:59,2479.937120,2523.171338,2462.271938,2505.940664,9.801435e+09
...,...,...,...,...,...,...,...
395,2023-10-02,2023-10-02 23:59:59,1732.984005,1743.563581,1646.077697,1663.627529,8.420553e+09
396,2023-10-01,2023-10-01 23:59:59,1671.161528,1750.595723,1670.082182,1733.810478,5.054880e+09
397,2023-09-30,2023-09-30 23:59:59,1667.834491,1692.531165,1666.563877,1671.161811,3.155292e+09
398,2023-09-29,2023-09-29 23:59:59,1652.999878,1687.281250,1648.656516,1667.943833,5.529688e+09
399,2023-09-28,2023-09-28 23:59:59,1597.672008,1666.024139,1597.294728,1652.882746,6.658092e+09

Yukarıdaki işlemlerin aynısını BTC ve ETH için de yapacağız bu sebeple tek bir sayfada toparlayalım

In [97]:
#BTC
df_btc = pd.read_csv("D:\ISTDSA_Proje\Bitcoin_01.01.2018-31.10.2024_historical_data_coinmarketcap.csv", sep=";") #dosyayı oku
df_btc.columns = df_btc.columns.str.lower() #kolon başlıklarını küçük harfe çevir
df_btc.columns = df_btc.columns.str.strip() #kolon isimlerindeki boşlukları at
df_btc['timeopen'] = pd.to_datetime(df_btc['timeopen']).dt.tz_localize(None).dt.floor('s') #object değerleri date formatına çevir
df_btc['timeclose'] = pd.to_datetime(df_btc['timeclose']).dt.tz_localize(None).dt.floor('s') #object değerleri date formatına çevir
df_btc['timehigh'] = pd.to_datetime(df_btc['timehigh']).dt.tz_localize(None) #object değerleri date formatına çevir
df_btc['timelow'] = pd.to_datetime(df_btc['timelow']).dt.tz_localize(None) #object değerleri date formatına çevir
df_btc.drop('name', axis=1, inplace=True) #name kolonunu at
df_btc.drop('timestamp', axis=1 , inplace=True) #timstamp kolonunu at
df_btc.drop('timehigh', axis=1, inplace=True) #timehigh kolonunu at
df_btc.drop('timelow', axis=1, inplace=True) #timelow kolonunu at
df_btc.drop('marketcap', axis=1, inplace=True) #marketcap kolonunu at
df_btc.rename(columns={'open':'btc_open', 'high':'btc_high', 'low':'btc_low','close':'btc_close','volume':'btc_vol'}, inplace=True) #kolonları tekrar isimlendiriyoruz
df_btc

,timeopen,timeclose,btc_open,btc_high,btc_low,btc_close,btc_vol
0,2024-10-31,2024-10-31 23:59:59,72335.044083,72662.309799,69590.502871,70215.185633,4.062791e+10
1,2024-10-30,2024-10-30 23:59:59,72715.366485,72905.298520,71411.735034,72339.542181,4.064664e+10
2,2024-10-29,2024-10-29 23:59:59,69910.045366,73577.209658,69729.917830,72720.493575,5.854187e+10
3,2024-10-28,2024-10-28 23:59:59,67922.674273,70212.269041,67535.131013,69907.754674,3.879986e+10
4,2024-10-27,2024-10-27 23:59:59,67023.479419,68221.314741,66847.223100,67929.298796,1.672131e+10
...,...,...,...,...,...,...,...
395,2023-10-02,2023-10-02 23:59:59,27976.799152,28494.459638,27347.787580,27530.784890,1.979304e+10
396,2023-10-01,2023-10-01 23:59:59,26967.397433,28047.237710,26965.094292,27983.750382,9.503917e+09
397,2023-09-30,2023-09-30 23:59:59,26911.689185,27091.795508,26888.967804,26967.916301,5.331173e+09
398,2023-09-29,2023-09-29 23:59:59,27024.841714,27225.938430,26721.762797,26911.721603,1.039644e+10
399,2023-09-28,2023-09-28 23:59:59,26355.812395,27259.499223,26327.321712,27021.546765,1.407900e+10

In [105]:
#ETH
df_eth = pd.read_csv("D:\ISTDSA_Proje\Ethereum_01.01.2018-31.10.2024_historical_data_coinmarketcap.csv", sep=";") #dosyayı oku
df_eth.columns = df_eth.columns.str.lower() #kolon başlıklarını küçük harfe çevir
df_eth.columns = df_eth.columns.str.strip() #kolon isimlerindeki boşlukları at
df_eth['timeopen'] = pd.to_datetime(df_eth['timeopen']).dt.tz_localize(None).dt.floor('s') #object değerleri date formatına çevir
df_eth['timeclose'] = pd.to_datetime(df_eth['timeclose']).dt.tz_localize(None).dt.floor('s') #object değerleri date formatına çevir
df_eth['timehigh'] = pd.to_datetime(df_eth['timehigh']).dt.tz_localize(None) #object değerleri date formatına çevir
df_eth['timelow'] = pd.to_datetime(df_eth['timelow']).dt.tz_localize(None) #object değerleri date formatına çevir
df_eth.drop('name', axis=1, inplace=True) #name kolonunu at
df_eth.drop('timestamp', axis=1 , inplace=True) #timstamp kolonunu at
df_eth.drop('timehigh', axis=1, inplace=True) #timehigh kolonunu at
df_eth.drop('timelow', axis=1, inplace=True) #timelow kolonunu at
df_eth.drop('marketcap', axis=1, inplace=True) #marketcap kolonunu at
df_eth.rename(columns={'open':'eth_open', 'high':'eth_high', 'low':'eth_low','close':'eth_close','volume':'eth_vol'}, inplace=True) #kolonları tekrar isimlendiriyoruz
df_eth

,timeopen,timeclose,eth_open,eth_high,eth_low,eth_close,eth_vol
0,2024-10-31,2024-10-31 23:59:59,2657.213210,2667.559482,2501.572346,2515.799222,1.976041e+10
1,2024-10-30,2024-10-30 23:59:59,2637.640108,2720.271436,2600.609657,2657.372557,2.238269e+10
2,2024-10-29,2024-10-29 23:59:59,2565.417849,2680.054530,2560.153826,2637.957581,2.218585e+10
3,2024-10-28,2024-10-28 23:59:59,2505.590509,2587.430142,2470.268340,2565.348033,1.897184e+10
4,2024-10-27,2024-10-27 23:59:59,2479.937120,2523.171338,2462.271938,2505.940664,9.801435e+09
...,...,...,...,...,...,...,...
395,2023-10-02,2023-10-02 23:59:59,1732.984005,1743.563581,1646.077697,1663.627529,8.420553e+09
396,2023-10-01,2023-10-01 23:59:59,1671.161528,1750.595723,1670.082182,1733.810478,5.054880e+09
397,2023-09-30,2023-09-30 23:59:59,1667.834491,1692.531165,1666.563877,1671.161811,3.155292e+09
398,2023-09-29,2023-09-29 23:59:59,1652.999878,1687.281250,1648.656516,1667.943833,5.529688e+09
399,2023-09-28,2023-09-28 23:59:59,1597.672008,1666.024139,1597.294728,1652.882746,6.658092e+09

3 DATAFRAME'İ DE BİRLEŞTİRİP GENİŞLETİLMİŞ TOTAL BİR DATAFRAME OLUŞTURALIM

In [111]:
#merge fonksiyonunu kullanacağız önce df_eth ile df_btc yi birleştireceğiz sonra df_sol ü dahil edeceğiz
halfmerged_df =pd.merge(df_btc,df_eth, on=['timeopen','timeclose'], how='outer')
halfmerged_df

,timeopen,timeclose,btc_open,btc_high,btc_low,btc_close,btc_vol,eth_open,eth_high,eth_low,eth_close,eth_vol
0,2023-09-28,2023-09-28 23:59:59,26355.812395,27259.499223,26327.321712,27021.546765,1.407900e+10,1597.672008,1666.024139,1597.294728,1652.882746,6.658092e+09
1,2023-09-29,2023-09-29 23:59:59,27024.841714,27225.938430,26721.762797,26911.721603,1.039644e+10,1652.999878,1687.281250,1648.656516,1667.943833,5.529688e+09
2,2023-09-30,2023-09-30 23:59:59,26911.689185,27091.795508,26888.967804,26967.916301,5.331173e+09,1667.834491,1692.531165,1666.563877,1671.161811,3.155292e+09
3,2023-10-01,2023-10-01 23:59:59,26967.397433,28047.237710,26965.094292,27983.750382,9.503917e+09,1671.161528,1750.595723,1670.082182,1733.810478,5.054880e+09
4,2023-10-02,2023-10-02 23:59:59,27976.799152,28494.459638,27347.787580,27530.784890,1.979304e+10,1732.984005,1743.563581,1646.077697,1663.627529,8.420553e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
395,2024-10-27,2024-10-27 23:59:59,67023.479419,68221.314741,66847.223100,67929.298796,1.672131e+10,2479.937120,2523.171338,2462.271938,2505.940664,9.801435e+09
396,2024-10-28,2024-10-28 23:59:59,67922.674273,70212.269041,67535.131013,69907.754674,3.879986e+10,2505.590509,2587.430142,2470.268340,2565.348033,1.897184e+10
397,2024-10-29,2024-10-29 23:59:59,69910.045366,73577.209658,69729.917830,72720.493575,5.854187e+10,2565.417849,2680.054530,2560.153826,2637.957581,2.218585e+10
398,2024-10-30,2024-10-30 23:59:59,72715.366485,72905.298520,71411.735034,72339.542181,4.064664e+10,2637.640108,2720.271436,2600.609657,2657.372557,2.238269e+10
399,2024-10-31,2024-10-31 23:59:59,72335.044083,72662.309799,69590.502871,70215.185633,4.062791e+10,2657.213210,2667.559482,2501.572346,2515.799222,1.976041e+10

In [112]:
merged_df=pd.merge(halfmerged_df,df_sol, on=['timeopen','timeclose'], how='outer')
merged_df

,timeopen,timeclose,btc_open,btc_high,btc_low,btc_close,btc_vol,eth_open,eth_high,eth_low,eth_close,eth_vol,sol_open,sol_high,sol_low,sol_close,sol_vol
0,2023-09-28,2023-09-28 23:59:59,26355.812395,27259.499223,26327.321712,27021.546765,1.407900e+10,1597.672008,1666.024139,1597.294728,1652.882746,6.658092e+09,1597.672008,1666.024139,1597.294728,1652.882746,6.658092e+09
1,2023-09-29,2023-09-29 23:59:59,27024.841714,27225.938430,26721.762797,26911.721603,1.039644e+10,1652.999878,1687.281250,1648.656516,1667.943833,5.529688e+09,1652.999878,1687.281250,1648.656516,1667.943833,5.529688e+09
2,2023-09-30,2023-09-30 23:59:59,26911.689185,27091.795508,26888.967804,26967.916301,5.331173e+09,1667.834491,1692.531165,1666.563877,1671.161811,3.155292e+09,1667.834491,1692.531165,1666.563877,1671.161811,3.155292e+09
3,2023-10-01,2023-10-01 23:59:59,26967.397433,28047.237710,26965.094292,27983.750382,9.503917e+09,1671.161528,1750.595723,1670.082182,1733.810478,5.054880e+09,1671.161528,1750.595723,1670.082182,1733.810478,5.054880e+09
4,2023-10-02,2023-10-02 23:59:59,27976.799152,28494.459638,27347.787580,27530.784890,1.979304e+10,1732.984005,1743.563581,1646.077697,1663.627529,8.420553e+09,1732.984005,1743.563581,1646.077697,1663.627529,8.420553e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2024-10-27,2024-10-27 23:59:59,67023.479419,68221.314741,66847.223100,67929.298796,1.672131e+10,2479.937120,2523.171338,2462.271938,2505.940664,9.801435e+09,2479.937120,2523.171338,2462.271938,2505.940664,9.801435e+09
396,2024-10-28,2024-10-28 23:59:59,67922.674273,70212.269041,67535.131013,69907.754674,3.879986e+10,2505.590509,2587.430142,2470.268340,2565.348033,1.897184e+10,2505.590509,2587.430142,2470.268340,2565.348033,1.897184e+10
397,2024-10-29,2024-10-29 23:59:59,69910.045366,73577.209658,69729.917830,72720.493575,5.854187e+10,2565.417849,2680.054530,2560.153826,2637.957581,2.218585e+10,2565.417849,2680.054530,2560.153826,2637.957581,2.218585e+10
398,2024-10-30,2024-10-30 23:59:59,72715.366485,72905.298520,71411.735034,72339.542181,4.064664e+10,2637.640108,2720.271436,2600.609657,2657.372557,2.238269e+10,2637.640108,2720.271436,2600.609657,2657.372557,2.238269e+10
399,2024-10-31,2024-10-31 23:59:59,72335.044083,72662.309799,69590.502871,70215.185633,4.062791e+10,2657.213210,2667.559482,2501.572346,2515.799222,1.976041e+10,2657.213210,2667.559482,2501.572346,2515.799222,1.976041e+10

In [113]:
merged_df.to_csv('merged_data.csv' , index=False)